.App {
  text-align: center;
  margin-top: 50px;
}

.bmiResult {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  margin: auto;
}

.Underweight {
  background-color: yellow;
}

.Normal {
  background-color: green;
}

.Overweight {
  background-color: orange;
}

.Obese {
  background-color: red;
}
